# Android
*.apk
*.aab
*.keystore
/local.properties
/.idea
.DS_Store
/build
*/build
.cxx
*.iml

# Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar

# Android Studio captures
/captures
.externalNativeBuild

# Keystore secrets — NEVER commit these!
keystore.properties
*.jks
*.p12
